<div fxLayout="column" fxLayoutAlign="space-around center">
  <form  #pageForm="ngForm"
  (ngSubmit)="onSubmit(pageForm)">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Book Name</mat-label>
        <input matInput placeholder="Outliers"  type="text"  [(ngModel)]="pageDetails.name" name="name"/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input matInput placeholder="Malcolm Gladwell" type="text" [(ngModel)]="pageDetails.author" name="author" />
      </mat-form-field>
    </p>
    <mat-form-field appearance="fill">
      <mat-label>Genre</mat-label>
      <mat-select [(ngModel)]="pageDetails.genre" name="genre">
        <mat-option>None</mat-option>
        <mat-option value="non fiction">Non Fiction</mat-option>
        <mat-option value="fiction" >Fiction</mat-option>
      </mat-select>
    </mat-form-field>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput placeholder="10" type="number" [(ngModel)]="pageDetails.price" name="price" />
        <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </p>
    <button mat-flat-button color="warn" type=submit>+ Update Book</button>
  </form>
</div>
